/***** PROMO CARD *****/


/* Mobile Display */

.promo-card {
  font-family: 'Lato', sans-serif !important;
  font-size: 12px;
  color: #707070;
  position: relative;
  max-width: 460px;
  border: 1px solid rgba(112, 112, 112, 0.13);
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 auto;
}

.promo-card.truncated .info .description,
.promo-card.truncated .pricebox .availability,
.promo-card.truncated .pricebox .full-price {
  display: none !important;
}

.promo-card.border-solid {
  border: 1px solid #D1D1D1;
  box-shadow: none;
}

.promo-card *,
.promo-card ::after,
.promo-card::before {
  box-sizing: border-box;
}

.promo-card .img-fluid {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.promo-card .d-block {
  display: block;
}

.promo-card a {
  text-decoration: none;
}

.promo-card .fas {
  font-size: 14px;
}

.promo-card .gray {
  color: #D1D1D1;
}

.promo-card .gold {
  color: #FAAA2F;
}

.promo-card .small {
  font-size: 12px;
  font-weight: 400;
  color: #707070;
}

.promo-card .mb {
  margin-bottom: 10px;
}

.promo-card .mr {
  margin-right: 4px;
}

.promo-card .row {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.promo-card .center-align {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.promo-card .info {
  padding: 10px 12px;
}

.promo-card .media {
  position: relative;
}

.promo-card .media img {
  width: 100%;
  max-width: 460px;
}

.promo-card .offer-tab {
  background: #59B552;
  color: #ffffff;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding: 5px 15px;
  width: 178px;
  display: flex;
  -ms-flex-align: center!important;
  align-items: center!important;
  position: absolute;
  top: 10px;
  right: 0;
}

.promo-card .offer-tab .indent {
  position: absolute;
  top: 0px;
  left: -15px;
  border-style: solid;
  border-width: 0px 23px 23px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: rotate(45deg);
}

.promo-card .offer-tab .fas {
  font-size: 12px;
  margin-right: 8px;
}

.promo-card .offer-tab .small {
  color: #ffffff;
  font-weight: 300;
  font-size: 10px;
  text-transform: none;
  margin-left: auto;
}

.promo-card .value {
  font-size: 18px;
  text-align: right;
}

.promo-card .full-price {
  font-weight: 300;
}

.promo-card .discount-price {
  color: #363C48;
  font-weight: 700;
  margin-bottom: 5px;
}

.promo-card h2.title {
  font-size: 20px;
  font-weight: 600;
  color: #363C48;
  margin: 0 0 10px 0;
  padding: 0;
}

.promo-card .policy {
  -ms-flex: 0 0 58%;
  flex: 0 0 58%;
  max-width: 58%;
}

.promo-card .value {
  -ms-flex: 0 0 42%;
  flex: 0 0 42%;
  max-width: 42%;
}

.promo-card .pricebox {
  padding: 0 15px 10px;
  margin-top: auto;
  width: 100%;
  max-width: 100%;
}

.promo-card .cta {
  margin-top: auto;
  width: 100%;
}

.promo-card a.button {
  background-color: #008FC9;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 24px;
  text-align: center;
  border-radius: 5px;
  display: block;
  width: 100%;
  vertical-align: middle;
  line-height: 1.35;
}


/* Tablet Display */

@media (min-width: 576px) {
  .promo-card {
    max-width: 940px;
  }
  .promo-card.truncated {
    max-width: 740px;
  }
  .promo-card .media {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden;
  }
  .promo-card.truncated .media {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
  }
  .promo-card .media img {
    width: auto;
    max-width: 100%; /* IE Fix, ignored by Chrome */
    max-width: initial;
    height: auto;
    max-height: 330px;
  }
  .promo-card.truncated .media img {
    max-height: 272px;
  }
  .promo-card .img-wrapper {
    display: flex;
    height: 305px;
    align-items: center;
    justify-content: center;
  }
  .promo-card.truncated .img-wrapper {
    height: 204px;
  }
  .promo-card .card-details {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .promo-card.truncated .card-details {
    -ms-flex: 0 0 52%;
    flex: 0 0 52%;
    max-width: 52%;
  }
}

@media (min-width: 768px) {
  .promo-card .media img {
    max-height: 355px;
  }
}


/* Desktop Display */

@media (min-width: 992px) {
  .promo-card:not(.truncated) {
    max-width: 965px;
  }
  .promo-card .d-lg-none {
    display: none !important;
  }
  .promo-card.truncated .lg-only {
    display: none !important;
  }
  .promo-card.truncated .d-lg-none {
    display: block !important;
  }
  .promo-card:not(.truncated) .img-wrapper {
    height: 204px;
  }
  .promo-card:not(.truncated) .media {
    position: static;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
    max-height: 204px;
  }
  .promo-card:not(.truncated) .media img {
    height: auto;
    max-width: 100%;
  }
  .promo-card:not(.truncated) .offer-tab {
    padding: 5px 15px 5px 22px;
    width: 180px;
  }
  .promo-card:not(.truncated) .card-details {
    -ms-flex: 0 0 68%;
    flex: 0 0 68%;
    max-width: 68%;
  }
  .promo-card:not(.truncated) .info {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
  .promo-card h2.title {
    font-size: 20px;
  }
  .promo-card .description {
    margin-bottom: auto;
  }
  .promo-card .policy.lg-only {
    position: absolute;
    bottom: 15px;
    max-width: 100%;
    flex: 0 0;
    -ms-flex: 0 0;
  }
  .promo-card:not(.truncated) .policy .cancellation,
  .promo-card:not(.truncated) .policy .availability {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .promo-card:not(.truncated) .pricebox {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 12px 10px 12px;
    margin-top: 0;
  }
  .promo-card:not(.truncated) .value {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .lg-only {
    display: none !important;
  }
}